___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd
import numpy as np

** Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv("Salaries.csv")

** Check the head of the DataFrame. **

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [5]:
sal.BasePay.mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [6]:
sal.OvertimePay.max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [7]:
sal[sal.EmployeeName == "JOSEPH DRISCOLL"]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [8]:
sal[sal.EmployeeName == "JOSEPH DRISCOLL"].TotalPay

24    270324.91
Name: TotalPay, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [9]:
sal.EmployeeName.loc[sal.TotalPayBenefits == sal.TotalPayBenefits.max()]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [10]:
sal.EmployeeName.loc[sal.TotalPayBenefits == sal.TotalPayBenefits.min()]

148653    Joe Lopez
Name: EmployeeName, dtype: object

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [11]:
grp_year = sal.groupby(by = "Year")
grp_year.mean().BasePay

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [15]:
sal["JobTitle"].nunique()

2159

** What are the top 5 most common jobs? **

In [19]:
job_groups = sal.groupby("JobTitle").describe()
job_groups

                                                   Id                 \
                                                count           mean
JobTitle
ACCOUNT CLERK                                    83.0   25734.819277
ACCOUNTANT                                        5.0   24159.200000
ACCOUNTANT INTERN                                48.0   28128.833333
ACPO,JuvP, Juv Prob (SFERS)                       1.0  135284.000000
ACUPUNCTURIST                                     1.0   18379.000000
...                                               ...            ...
X-RAY LABORATORY AIDE                            26.0   22502.076923
X-Ray Laboratory Aide                           100.0   98890.620000
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    1.0   23392.000000
Youth Comm Advisor                                4.0   99677.750000
ZOO CURATOR                                       1.0   18779.000000

                                                                        \
                                                         std       min
JobTitle
ACCOUNT CLERK                                    2621.592874   20766.0
ACCOUNTANT                                       6787.702608   19264.0
ACCOUNTANT INTERN                                3941.782388   21536.0
ACPO,JuvP, Juv Prob (SFERS)                              NaN  135284.0
ACUPUNCTURIST                                            NaN   18379.0
...                                                      ...       ...
X-RAY LABORATORY AIDE                            4694.321369   12940.0
X-Ray Laboratory Aide                           31404.565120   49777.0
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS           NaN   23392.0
Youth Comm Advisor                              32595.496267   58843.0
ZOO CURATOR                                              NaN   18779.0

                                                                     \
                                                      25%       50%
JobTitle
ACCOUNT CLERK                                    24581.00   24774.0
ACCOUNTANT                                       19325.00   20993.0
ACCOUNTANT INTERN                                23325.75   29979.5
ACPO,JuvP, Juv Prob (SFERS)                     135284.00  135284.0
ACUPUNCTURIST                                    18379.00   18379.0
...                                                   ...       ...
X-RAY LABORATORY AIDE                            19632.75   20927.0
X-Ray Laboratory Aide                            65829.00   98379.5
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS   23392.00   23392.0
Youth Comm Advisor                               88267.00  100704.5
ZOO CURATOR                                      18779.00   18779.0

                                                                    BasePay  \
                                                      75%       max   count
JobTitle
ACCOUNT CLERK                                    26299.50   35638.0    83.0
ACCOUNTANT                                       25928.00   35286.0     5.0
ACCOUNTANT INTERN                                31639.25   34267.0    48.0
ACPO,JuvP, Juv Prob (SFERS)                     135284.00  135284.0     1.0
ACUPUNCTURIST                                    18379.00   18379.0     1.0
...                                                   ...       ...     ...
X-RAY LABORATORY AIDE                            24165.75   33182.0    26.0
X-Ray Laboratory Aide                           130540.75  143632.0   100.0
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS   23392.00   23392.0     1.0
Youth Comm Advisor                              112115.25  138459.0     4.0
ZOO CURATOR                                      18779.00   18779.0     1.0

                                                              ... Notes      \
                                                        mean  ...   75% max
JobTitle                                                      ...
ACCOUNT CLERK                                   43300.806506  ...   NaN NaN
ACCOUNTANT                                      46643.172000  ...   NaN NaN
ACCOUNTANT INTERN                               28732.663958  ...   NaN NaN
ACPO,JuvP, Juv Prob (SFERS)                     62290.780000  ...   NaN NaN
ACUPUNCTURIST                                   66374.400000  ...   NaN NaN
...                                                      ...  ...   ...  ..
X-RAY LABORATORY AIDE                           47664.773077  ...   NaN NaN
X-Ray Laboratory Aide                           46086.387100  ...   NaN NaN
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS  52609.910000  ...   NaN NaN
Youth Comm Advisor                              39077.957500  ...   NaN NaN
ZOO CURATOR                                     43148.000000  ...   NaN NaN

                                               Status                       \
                                                count mean std min 25% 50%
JobTitle
ACCOUNT CLERK                                     0.0  NaN NaN NaN NaN NaN
ACCOUNTANT                                        0.0  NaN NaN NaN NaN NaN
ACCOUNTANT INTERN                                 0.0  NaN NaN NaN NaN NaN
ACPO,JuvP, Juv Prob (SFERS)                       0.0  NaN NaN NaN NaN NaN
ACUPUNCTURIST                                     0.0  NaN NaN NaN NaN NaN
...                                               ...  ...  ..  ..  ..  ..
X-RAY LABORATORY AIDE                             0.0  NaN NaN NaN NaN NaN
X-Ray Laboratory Aide                             0.0  NaN NaN NaN NaN NaN
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    0.0  NaN NaN NaN NaN NaN
Youth Comm Advisor                                0.0  NaN NaN NaN NaN NaN
ZOO CURATOR                                       0.0  NaN NaN NaN NaN NaN


                                               75% max
JobTitle
ACCOUNT CLERK                                  NaN NaN
ACCOUNTANT                                     NaN NaN
ACCOUNTANT INTERN                              NaN NaN
ACPO,JuvP, Juv Prob (SFERS)                    NaN NaN
ACUPUNCTURIST                                  NaN NaN
...                                             ..  ..
X-RAY LABORATORY AIDE                          NaN NaN
X-Ray Laboratory Aide                          NaN NaN
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS NaN NaN
Youth Comm Advisor                             NaN NaN
ZOO CURATOR                                    NaN NaN

[2159 rows x 80 columns]

In [30]:
job_groups.Id["count"].sort_values(ascending = False)

JobTitle
Transit Operator                                      7036.0
Special Nurse                                         4389.0
Registered Nurse                                      3736.0
Public Svc Aide-Public Works                          2518.0
Police Officer 3                                      2421.0
                                                       ...
BUILDING SERVICES TECHNICIAN                             1.0
Public Service Aide-Technical                            1.0
Public Safety Comm Tech                                  1.0
CAPTAIN, BUREAU OF FIRE PREVENTION AND PUBLIC SAFE       1.0
ZOO CURATOR                                              1.0
Name: count, Length: 2159, dtype: float64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [99]:
counts = pd.DataFrame(grp_year.JobTitle.value_counts())
counts[counts == 1].loc[2013].dropna()

                               JobTitle
JobTitle
Acupuncturist                       1.0
Adm, SFGH Medical Center            1.0
Administrative Analyst I            1.0
Administrative Analyst II           1.0
Administrator, DPH                  1.0
...                                 ...
Victim & Witness Technician         1.0
Water Meter Shop Supervisor 1       1.0
Wharfinger 1                        1.0
Window Cleaner Supervisor           1.0
Wire Rope Cable Maint Sprv          1.0

[202 rows x 1 columns]

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [115]:
final = sal["JobTitle"]
final[final.str.contains("Chief","chief")].count()

423

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!